<h1>Define</h1>

<form action="/word/<%= @word.id%>definition/new" method="post">
  <input id="definition" placeholder="What does it mean?" type="textarea" col="50" row="4" name="definition">

</form>
