<h1>Sub/ubran Dictionary</h1>
<h2>Add that slang you and your friends use and no one else knows.</h2>

<hr>

<h4>Example of lame people (adult) words</h4>
<blockquote cite="http://www.thefreedictionary.com/petrichor">
  <p>Petrichor</p>
  <p> The distinctive smell given off by earth, rock, or pavement at the beginning of a rain after a period of warm, dry weather.</p>
</blockquote>

<ul>
  <% @word.each() do |lingo| %>
  <li> <a href="/word.id() %>"> <%= lingo.word()%> </a> </li>
  <%end%>
</ul>
<br>
<a href="/word/new" class="btn btn-info btn-lg">Slang it up!</a>
