<h3><i>Add that slang you and your friends use and no one else knows.</i></h3>


<blockquote cite="http://www.thefreedictionary.com/petrichor">
  <h4><b>Petrichor</b></h4>
  <h4> The distinctive smell given off by earth, rock, or pavement at the beginning of a rain after a period of warm, dry weather.</h4>
</blockquote>
<h5>Example of lame people (adult) words</h5>
<h5>Don't  add words like this!</h5>

<ul>
  <% @word.each() do |lingo| %>
  <li><a href="/word.id() %>"> <%= lingo.word()%></a></li>
  <%end%>
</ul>
<br>
<a href="/word/new" class="btn btn-info btn-lg">Slang it up!</a>
