<form action="/word/new" method="post">
  <div class="form-group">
    <label for="word">What's Your Slang?</label>
    <hr>
    <input placeholder="enter a word" id ="word" type="text" name="word">
  </div>
  <button type="submit">Slang it up!</button>
</form>
<hr>
